@model E_CommerceLibrary.Models.Publisher

<!DOCTYPE html>
<html>
<head>
    <title>Publisher Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h2 {
            color: #333;
        }

        .dl-horizontal {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

            .dl-horizontal dt {
                font-weight: bold;
            }

            .dl-horizontal dd {
                margin-left: 0;
            }
    </style>
</head>
<body>

    <h2>Details for @Model.PublisherName</h2>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.PublisherName)</dt>
        <dd>@Html.DisplayFor(model => model.PublisherName)</dd>
    </dl>

</body>
</html>
